<!DOCTYPE html>
-var page_title="productPage"
html(lang="en")
       head
              meta(charset="UTF-8")
              meta(name="viewport", content="width=device-width, initial-scale=1.0")
              title #{page_title}
              include ./components/links
       body
           .header           
              include ./components/navbar
           include ./pages_content/cart
       include ./components/scripts
       