    .page-content {
        margin-top: $header-height;
        position: relative !important;
        min-height: 100vh;
        .side-bar {
            width: $sidbar_width;
            background-color: $sub_nav_color;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            padding-top: $header-height+30;
            color: white;
            z-index: 2;
            @include Stransation(1s);
        }
        .content {
            @include Stransation(1s);
            min-height: 100vh;
            width: calc(100% - 200px);
            float: right;
            padding: 2%;
        }
    }
    
    .toggle-sidbar {
        color: whitesmoke;
        position: fixed;
        top: $header-height+7;
        left: 35px;
        display: none !important;
        font-size: 1.6rem !important;
        font-weight: bold;
        z-index: 2;
        background-color: #0f1d2e;
        @include button;
        @include Stransation(0.5s);
        transform: rotate(90deg);
        &:hover {
            cursor: pointer;
        }
        &.active {
            @include Stransation(0.8s);
            top: $header-height+20;
            top: 50%;
            left: $sidbar_width;
            transform: rotate(-90deg);
        }
    }
    
    body {
        overflow-x: hidden;
        background-color: rgb(124, 123, 122);
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        ;
    }
    
    button {
        &:focus {
            outline: none;
        }
    }
    
    a {
        text-decoration: none;
    }
    
    @include medi {
        .toggle-sidbar {
            display: inline !important;
        }
        .page-content {
            .side-bar {
                left: -100%;
                &.active {
                    left: 0;
                }
            }
            .content {
                padding-top: 10%;
                width: 100%;
            }
        }
    }
    @include mobile{
                .toggle-sidbar {
            margin-left: -8% !important;
        }
    }
    .not-work{
        opacity: 0.6;
    }