.side-bar {
    color: whitesmoke;
    .links {
        li {
            margin-top: 40%;
            text-align: center;
            a {
                background: rgb(194, 194, 194);
                @include button;
                color: #05101d;
                font-weight: bold;
                @include Stransation(0.5s);
                &:hover {
                    background: rgb(250, 244, 244);
                    color: #000000;
                }
            }
        }
    }
    button {
        padding: 15px 30px;
        margin-top: 75%;
        margin-left: 24%;
        @include Stransation(0.5s);
        background: rgb(194, 194, 194);
        font-size: 1.5rem;
        &:hover {
            transform: scale(1.1);
        }
    }
}