.side-bar {
    color: whitesmoke;
    .price_links,
    .links {
        li {
            margin-top: 15%;
            text-align: center;
            a {
                background: rgb(194, 194, 194);
                @include button;
                color: #05101d;
                font-weight: bold;
                @include Stransation(0.5s);
                &:hover {
                    background: rgb(250, 244, 244);
                    color: #000000;
                }
            }
        }
    }
    .price_links {
        h1 {
            margin:15% 0;
            text-align: center;
            opacity: 0.8;
        }
    }
    a.btn {
        margin-left: 37%;
        margin-top: 10%;
        @include Stransation(0.4s);                    color: rgb(194, 194, 194) !important;

        &:hover {
            transform: scale(1.1);
        }
     
    }
}