.header-nav
  .nav_brand
      h1: a(href="index.html") PoStore
  -if (page_title=="HomePage")
         .form-group.search_form
            input(type="text" class="form-control search_area" placeholder="search")
  .navbars
        i.fa.fa-bars.fa-lg 
      
ul.nav_bar
   li.dropdown.show.notification
      a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
         | Notification
      .dropdown-menu(aria-labelledby='dropdownMenuLink')
         .not-head
            | Notifications
            span 0
         .not-body
            ul.list-unstyled
   .center
    -if (page_title=="HomePage")
      .form-group.search_form
         input(type="text" class="form-control search_area")
      li.dropdown.show.lange
            a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
               |EN
            .dropdown-menu(aria-labelledby='dropdownMenuLink')
               ul.lane.list-unstyled
                  li EN
                  li.disabled AR
                  li.disabled FR
   li.dropdown.show.user
      a#dropdownMenuLink.dropdown-toggle.login(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
         | Hello, Login
      .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
         .rows
               .link-box
                  i.fa.fa-gear.fa-lg.fa-fw
                  span Settings
               .link-box
                  i.fa.fa-user.fa-lg
                  span MyProfile
               .link-box
                  i.fa.fa-power-off.fa-lg
                  span logOut
   li.cart
      a(href="cart.html")
        p.item-count 0
        i.fa.fa-shopping-cart
