.cart
    .cart-head purchased products
    .cart-body 
     .container
       .items.row
        h1.no_items.text-center you have no item
    hr
    .cart-footer
      p All Price
      p.all-price $