.loginform 
       h1.title sign up to continue
       form(class="form-group login_form")
            input(placeholder="enter your name"  class="form-control name" type="text")
            input(placeholder="enter your email"  class="form-control email" type="email" requrie)
            input(placeholder="enter pass"  class="form-control pass" type="password")
            p.show_pass_notif show password by click double click in input
            input(placeholder="re-enter pass"  class="form-control re-pass" type="password")
            ul.noty-form
               li.name_valid Name must be more than 2 char
               hr       
               li.email_valid Name must enter vaild Email
               hr
               .passListValid 
                  ul.list-unstyled
                     li.more password must be more 8 char
                     li.upper password must contain upper case char
                     li.lower password must contain lower case char
                     li.number password must contain at lest one number
                     li.special password must contain special char(@,#,..)
               hr
               li.re_pass_valid Passwords must be mutch
            .flex
                  .remember
                     label(for="remember") Remember Me 
                     input(type="checkbox", name="remember" id="remember")
                  a.forget_pass(href="#") Forget password?
            button(type="submit" class="btn btn-primary ") LOGIN
            .social
              h2 or sign up with
              .social-icon
                  i.fa.fa-facebook
                  i.fa.fa-instagram
       .login-cover
         h1 you aleredy login
         h2 you will be redirected