.productinfo-container
       h3.categories product category
       .product 
          .prod-header
             h4.title product title
          .prod-body
             img(src="", alt="" class="img")
             p.info
          .stars 
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
          .prod-footer 
             h3.price
             input.form-control.count(type="text" value="1") 
             button.buy.btn.btn-primary buy


.products_recommendations
   h2 recommended for you
   .recommend-products
