.productinfo-container
       h1.categories product category
       .product 
          .header
             h4.title product title
          .body
             p.info
             img(src="", alt="" class="img")
          .footer 
             h3.price
             input.count(type="text" value="1") 
             button.buy buy


.products_recommendations
       h1 recommendations
.test test